<section>
  <img src="<%= bookDetail.image_url%>" alt="<%= bookDetail.title %>">
  <h2><%= bookDetail.title %></h2>
  <h4><%= bookDetail.author %></h4>
  <p class="book-summary"><%= bookDetail.summary %></p>
  <p><%= bookDetail.isbn %></p>
  <p><%= bookDetail.bookshelf %></p>
</section>