<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head'); %>
<title>Search Results</title>
</head>

<body>
  <header>
    <h1>Search Results</h1>
    <nav>
      <form action="/" method="get">
        <button type="submit" class="searchnav">Bookshelf</button>
      </form>
    </nav>
  </header>
  <% bookArray.forEach(book => { %>
  <section>
    <img src="<%= book.image_url%>" alt="<%= book.title %>">
    <h2><%= book.title %></h2>
    <h4><%= book.author %></h4>
    <p class="book-summary"><%= book.summary %></p>
  </section>
  <% }) %>
</body>

</html>