<!DOCTYPE html>
<html id="indexpage" lang="en">

<%- include('../layout/head'); %>
<title>Books Galore</title>
</head>

<body>
  <header>
    <h1>Books Galore</h1>
  </header>
  <main class="indexh4">
    <% if (database) { %>
    <h5 id="indexcaption">You have <%= bookCount %> saved books.</h5>
    <% database.forEach(book => { %>
    <article>
      <img src="<%= book.image_url%>" alt="<%= book.title %>">
      <h2><%= book.title %></h2>
      <h4><%= book.author %></h4>
      <p class="book-summary"><%= book.summary %></p>
    </article>
    <% }) %>
    <% } %>
    <form action="/new" method="get">
      <button type="submit" name="submit">Find Books</button>
    </form>
  </main>
</body>

</html>